<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holden.wxproject.mapper.NursingMapper">
    <select id="findAllNursing" resultType="com.holden.wxproject.pojo.NursingInfo">
        SELECT `id`,
               `name`,
               nick_name,
               age,
               birthday,
               cover_image,
               email,
               gender,
               mobile,
               nation,
               hometown,
               constellation,
               graduate_school,
               graduate_date,
               education_type,
               highest_degree,
               urgent_mobile,
               urgent_name,
               address,
               origin_address,
               id_card,
               major,
               marriage_status,
               work_address,
               work_age,
               bank_account,
               bank_card_number,
               entry_date,
               job_status,
               first_work_date,
               note,
               certificate
        FROM nursing_info
        WHERE 1 = 1
          AND is_deleted = 0
    </select>
</mapper>