<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holden.wxproject.mapper.PicBannerMapper">
    <select id="findAllPic" resultType="com.holden.wxproject.pojo.PicBanner">
        SELECT id, pic_name, pic_url
        FROM banner_pic
        where 1 = 1
          and is_deleted = 0;
    </select>

    <select id="getPicUrl" resultType="java.lang.String">
        SELECT pic_url
        FROM banner_pic
        where 1 = 1
          and is_deleted = 0
          and id = #{picId};
    </select>
</mapper>