<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holden.wxproject.mapper.PicBannerMapper">
    <select id="findAllPic" resultType="com.holden.wxproject.pojo.PicBanner">
        SELECT id, pic_name, pic_url
        FROM banner_pic;
    </select>
</mapper>