<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holden.wxproject.mapper.StockMapper">
    <select id="getSingleStock" resultType="java.util.Map">
        SELECT pic_url
        FROM banner_pic
        where 1 = 1
          and is_deleted = 0
          and id = #{picId};
    </select>

    <select id="getIndustryReport" resultType="java.util.Map">
        SELECT *
        FROM `df_a_stock_industry_report`
        where ds = #{date}
    </select>

    <select id="getContiniation" resultType="java.util.Map">
        SELECT `code`, sumrate, `times`
        FROM `stock_continuation_up`
        where times >= #{times}
          and tag = #{tag}
        order by sumrate desc;
    </select>

    <select id="getContiniationFinance" resultType="java.util.Map">
        SELECT `code`, sumprice, `times`
        FROM `finance_continuation_up`
        where times >= #{times}
          and tag = #{tag}
        order by sumprice desc;
    </select>

    <select id="judgeNews" resultType="java.util.Map">
        select `code`, title
        from df_a_stock_news
        where 1 = 1
          and concat(title) REGEXP #{up}
          and code not in (
            select distinct code from df_a_stock_news where concat(title) REGEXP #{down}
            )
    </select>

    <select id="keywords" resultType="java.util.Map">
        SELECT CASE

                   WHEN 0 > weight THEN
                       '负'
                   ELSE '正'
                   END            as tag,
               GROUP_CONCAT(name) as content
        FROM `stock_key_word`
        GROUP BY CASE

                     WHEN 0 > weight THEN
                         '负'
                     ELSE '正'
                     END
    </select>

    <select id="sotckHot" resultType="java.util.Map">
        SELECT `code`,
               comment_hot,
               visit_hot
        FROM df_a_stock_hot
        ORDER BY comment_hot DESC,
                 visit_hot DESC limit 20
    </select>

    <select id="targetNews" resultType="java.util.Map">
        select `code`, title
        from df_a_stock_news
        where 1 = 1
          and concat(title) REGEXP #{target}
    </select>

    <select id="targetStock" resultType="java.util.Map">
        SELECT
            `code`,
            `name`,
            current_price,
            up_down_rate,
            turnover_rate,
            ( main_inflow + Slarge_inflow + large_inflow ) AS big,
            ( mid_inflow + small_inflow ) AS small,
            deal_amount
        FROM
            `df_a_stock_detail`
        WHERE
            concat(code) REGEXP #{code} or concat(name) REGEXP #{name}
        ORDER BY
            ds DESC
            LIMIT 1
    </select>
</mapper>