<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.holden.wxproject.mapper.TelegramMapper">

    <update id="add">
        update user_info
        set balance=balance + ${score}
        where user_id = #{id}
    </update>
</mapper>