<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>数据看板</title>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../css/data_style.css" rel="stylesheet">
    <script src="../js/echarts.js"></script>
    <script src="../js/jquery-1.10.2.min.js"></script>
    <style>
        .scroll-box::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    </style>
</head>
<body>


<!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1 class="display-4">数据看板 <span class="badge badge-success">运行中</span></h1>

                        <p class="lead">数据集皆来源于<a href="https://www.eastmoney.com/" target="_blank"
                                                  style="color:blue;text-decoration: underline;">东方财富网</a>，均为符合该网站要求的合法爬虫。
                        </p>
                        <hr class="my-4">
                        <p>The dataset is sourced from <a href="https://www.eastmoney.com/" target="_blank"
                                                          style="color:blue;text-decoration: underline;">#eastmoney</a>
                            website and is a legitimate crawler that meets the requirements of the website.</p>
                        <button type="button" class="btn btn-light"><a href="https://holden.games">返回</a></button>
                    </div>
                </div>

            </div>
            <!-- /# row -->
            <section id="main-content">
                <!--第一栏四个图标-->
                <div th:each="oneRow : ${info.t1}">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class='bx bxs-dollar-circle' style="color:green"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">主力净流入</div>
                                        <div class="stat-digit">￥<span th:text="${oneRow.mainFlow}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class='bx bx-dollar-circle' style="color:red"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">散户净流入</div>
                                        <div class="stat-digit">￥<span th:text="${oneRow.smallFlow}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class='bx bxs-user-check' style="color:green"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">外盘</div>
                                        <div class="stat-digit">￥<span th:text="${oneRow.outside}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class='bx bxs-user-x' style="color:red"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">内盘</div>
                                        <div class="stat-digit">￥<span th:text="${oneRow.inner}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--第二栏四个图标-->
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class='bx bx-trending-up' style="color:#1cde0f"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">最佳涨幅（代码）</div>
                                        <div class="stat-digit"><span th:text="${oneRow.upRate}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class='bx bx-trending-down' style="color:#c05533"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">最强跌幅（代码）</div>
                                        <div class="stat-digit"><span th:text="${oneRow.downRate}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class='bx bx-coin-stack' style="color:#9719c0"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">成交量</div>
                                        <div class="stat-digit"><span th:text="${oneRow.dealVol}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class='bx bx-dollar' style="color:#be260e"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">最高价</div>
                                        <div class="stat-digit">￥<span th:text="${oneRow.highest}"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div id="t1" style="width: 100%;height: 400px"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">

                            <div class="card-body">
                                <div id="t2" style="width: 100%;height: 400px"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card" style="height: 500px">
                            <div class="card-body">
                                <div id="t3" style="width: 100%;height: 440px"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-8">
                        <div class="card" style="height: 500px">
                            <div class="card-title pr">
                                <h4><b>今日涨幅排行</b></h4>
                            </div>
                            <div class="scroll-box" style="overflow: auto">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">名称</th>
                                        <th scope="col">收盘价</th>
                                        <th scope="col">涨幅</th>
                                        <th scope="col">成交量</th>
                                        <th scope="col">市盈率</th>
                                        <th scope="col">所属板块</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="oneRow : ${info.t3r}">
                                        <th scope="row" th:text="${oneRow.code}"></th>
                                        <td th:text="${oneRow.name}"></td>
                                        <td th:text="${oneRow.currentPrice}"></td>
                                        <td th:text="${oneRow.upDownRate}"></td>
                                        <td th:text="${oneRow.dealAmount}"></td>
                                        <td th:text="${oneRow.pe}"></td>
                                        <td th:text="${oneRow.industry}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <div class="row" th:each="oneRow : ${info.board}">
                    <div class="col-lg-3">
                        <div class="card p-0">
                            <div class="stat-widget-three home-widget-three">
                                <div class="stat-icon bg-facebook">
                                    <i class='bx bxs-dollar-circle'></i>
                                </div>
                                <div class="stat-content">
                                    <div class="stat-digit" th:text="${oneRow.sh}"></div>
                                    <div class="stat-text">沪板</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card p-0">
                            <div class="stat-widget-three home-widget-three">
                                <div class="stat-icon bg-youtube">
                                    <i class='bx bxs-tennis-ball'></i>
                                </div>
                                <div class="stat-content">
                                    <div class="stat-digit" th:text="${oneRow.sz}"></div>
                                    <div class="stat-text">深板</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card p-0">
                            <div class="stat-widget-three home-widget-three">
                                <div class="stat-icon bg-twitter">
                                    <i class='bx bxs-plane'></i>
                                </div>
                                <div class="stat-content">
                                    <div class="stat-digit" th:text="${oneRow.bj}"></div>
                                    <div class="stat-text">京板</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card p-0">
                            <div class="stat-widget-three home-widget-three">
                                <div class="stat-icon bg-danger">
                                    <i class='bx bxs-game'></i>
                                </div>
                                <div class="stat-content">
                                    <div class="stat-digit" th:text="${oneRow.cy}"></div>
                                    <div class="stat-text">创业板</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--最新新闻-->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card" style="">
                            <img src="../img/stock.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">比亚迪 - 301299</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">1.今日有利好消息</li>
                                <li class="list-group-item">2.有高管购入</li>
                            </ul>
                            <div class="card-body">
                                <a href="http://quote.eastmoney.com/sz002594.html" class="card-link" target="_blank"
                                   style="color:blue">跳转连接</a>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-title">
                                <h4><b>各门户最新新闻</b></h4>
                            </div>

                            <div class="recent-comment m-t-15 scroll-box" style="height: 440px;overflow: auto">
                                <div class="media" th:each="oneRow : ${info.news}">
                                    <div class="media-body">
                                        <h4 class="media-heading color-primary"
                                            th:text="${oneRow.agency} +'('+ ${oneRow.code}+')'"></h4>
                                        <p th:text="${oneRow.content}"></p>
                                        <p class="comment-date" th:text="${oneRow.date}">2023-04-27 17:17:45</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-title">
                                <h4>Timeline</h4>

                            </div>
                            <div class="card-body">
                                <ul class="timeline">
                                    <li>
                                        <div class="timeline-badge primary"><i class="fa fa-smile-o"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title">School promote video sharing</h5>
                                            </div>
                                            <div class="timeline-body">
                                                <p>10 minutes ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge warning"><i class="fa fa-sun-o"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title">Ready our school website and online
                                                    service</h5>
                                            </div>
                                            <div class="timeline-body">
                                                <p>20 minutes ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge danger"><i class="fa fa-times-circle-o"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title">Routine pubish our website form
                                                    10/03/2017 </h5>
                                            </div>
                                            <div class="timeline-body">
                                                <p>30 minutes ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge success"><i class="fa fa-check-circle-o"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title">Principle quotation publish our website
                                                </h5>
                                            </div>
                                            <div class="timeline-body">
                                                <p>15 minutes ago</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-badge warning"><i class="fa fa-sun-o"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h5 class="timeline-title">Class schedule publish our website</h5>
                                            </div>
                                            <div class="timeline-body">
                                                <p>20 minutes ago</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                </div>
                <!-- /# row -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-title">
                                <h4>Task</h4>

                            </div>
                            <div class="todo-list">
                                <div class="tdl-holder">
                                    <div class="tdl-content">
                                        <ul>
                                            <li>
                                                <label>
                                                    <input type="checkbox"><i></i><span>22,Dec Publish The Final
                                                            Exam Result</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i></i><span>First Jan Start Our
                                                            School</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox"><i></i><span>Recently Our Maganement
                                                            Programme Start</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i></i><span>Check out some
                                                            Popular courses</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>

                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i></i><span>First Jan Start Our
                                                            School</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i></i><span>Connect with one new
                                                            person</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="text" class="tdl-new form-control"
                                           placeholder="Write new item and hit 'Enter'...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-title pr">
                                <h4>All Expense</h4>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table student-data-table m-t-20">
                                        <thead>
                                        <tr>
                                            <th><label><input type="checkbox" value=""></label>ID</th>
                                            <th>Expense Type</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Email</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2901</td>
                                            <td>
                                                Salary
                                            </td>
                                            <td>
                                                $2000
                                            </td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                edumin@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2901</td>
                                            <td>
                                                Salary
                                            </td>
                                            <td>
                                                $2000
                                            </td>
                                            <td>
                                                <span class="badge badge-warning">Pending</span>
                                            </td>
                                            <td>
                                                edumin@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2901</td>
                                            <td>
                                                Salary
                                            </td>
                                            <td>
                                                $2000
                                            </td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                edumin@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2901</td>
                                            <td>
                                                Salary
                                            </td>
                                            <td>
                                                $2000
                                            </td>
                                            <td>
                                                <span class="badge badge-danger">Due</span>
                                            </td>
                                            <td>
                                                edumin@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2901</td>
                                            <td>
                                                Salary
                                            </td>
                                            <td>
                                                $2000
                                            </td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                edumin@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>2023 © 个人所有. - <a href="https://holden.games">holden.games</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    $(function () {
        var info = [[${info.t3l}]]
        t1();
        t2([[${info.t2}]]);
        t3(info);

    })

    function t1() {
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('t1'));

        // 指定图表的配置项和数据
        option = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            title: {
                text: 'A股大盘14天走势'
            },
            series: [
                {
                    data: [820, 932, 901, 934, 1290, 1330, 1320],
                    type: 'line',
                    smooth: true
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

    function t2(info) {
        var chartDom = document.getElementById('t2');
        var myChart = echarts.init(chartDom);
        var option;

        var xAxisData = [];
        var data1 = [];
        var data2 = [];
        for (var i = 0; i < info.length; i++) {
            xAxisData.push(info[i].ds);
            data1.push(info[i].big);
            data2.push(info[i].small);
        }
        option = {
            title: {
                text: '近14天成交量占比(万)'
            },
            legend: {
                data: ['流入', '流出']
            },
            toolbox: {
                // y: 'bottom',
                feature: {}
            },
            tooltip: {},
            xAxis: {
                data: xAxisData,
                splitLine: {
                    show: false
                }
            },
            yAxis: {},
            series: [
                {
                    name: '流入',
                    type: 'bar',
                    data: data1,
                    emphasis: {
                        focus: 'series'
                    },
                    animationDelay: function (idx) {
                        return idx * 10;
                    }
                },
                {
                    name: '流出',
                    type: 'bar',
                    data: data2,
                    emphasis: {
                        focus: 'series'
                    },
                    animationDelay: function (idx) {
                        return idx * 10;
                    }
                }
            ],
            animationEasing: 'elasticOut',
            animationDelayUpdate: function (idx) {
                return idx * 5;
            }
        };

        option && myChart.setOption(option);
    }

    function t3(info) {
        var chartDom = document.getElementById('t3');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            legend: {
                show: false
            },
            title: {
                text: '各板块占比'
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true}
                }
            },
            series: [
                {
                    name: 'Nightingale Chart',
                    type: 'pie',
                    radius: [10, 150],
                    center: ['50%', '50%'],
                    roseType: 'area',
                    itemStyle: {
                        borderRadius: 8
                    },
                    data: info

                }
            ]
        }
        ;

        option && myChart.setOption(option);
    }


</script>
</body>
</html>