<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>肖华 - 求职简历</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Vendor CSS Files -->
    <link href="../vendor/aos/aos.css" rel="stylesheet">
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
        <ul>
            <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>首页</span></a></li>
            <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>关于</span></a></li>
            <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>简历</span></a>
            </li>
            <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>作品</span></a>
            </li>
            <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>联系</span></a>
            </li>
        </ul>
    </nav><!-- .nav-menu -->

</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>肖华</h1>
        <p>应聘<span class="typed" data-typed-items="大数据开发工程师, 数据仓库工程师"></span></p>
        <div class="social-links">
            <a href="#" class="github"><i class="bx bxl-github"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#about" class="user-pin"><i class='bx bxs-user-pin'></i></a>
            <a href="#" class="linkedin"><i class='bx bxl-linkedin-square'></i></a>
            <a href="https://holden.games/data_center" class="data"><i class='bx bx-data'></i></a>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>关于我</h2>
                <p>笑口常开，好运自来。</p>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="../img/self.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>数据仓库工程师 &amp; 大数据开发工程师</h3>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>生日:</strong> <span>1998.03.13</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>网站:</strong>
                                    <span><a href="https://holden.games">holden.games</a></span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>手机:</strong> <span>176 8031 8313</span>
                                </li>
                                <li><i class="bi bi-chevron-right"></i> <strong>意向城市:</strong> <span>上海 or 深圳</span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>学历:</strong> <span>本科</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>邮箱:</strong>
                                    <span>holdenxiao@163.com</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>求职状态:</strong> <span>在职，月内到岗</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>个人数据看板:</strong>
                                    <span><a href="https://holden.games/data-center">holden.games/data-center</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul>
                        <li><em>1.熟练使用Linux操作系统以及shell脚本的编写</em></li>
                        <li><em>2.熟练使用sql解决问题</em></li>
                        <li><em>3.熟练使用springboot和mybatis开发数据接口</em></li>
                        <li><em>4.熟练使用pytorch进行数据分析（线性回归、逻辑回归、决策树、贝叶斯等）</em></li>
                        <li><em>5.熟练使用dataworks开发平台进行离线数仓开发</em></li>
                        <li><em>6.熟悉hadoop生态圈以及能熟练搭建hadoop生态圈（hadoop、hive、dataX、clickhouse）</em></li>
                        <li><em>7.熟悉Flink的时间语义和WaterMark、窗口处理函数、状态编程等</em></li>
                        <li><em>8.熟悉Kafka的结构和原理，基于zookeeper和kraft的集群部署</em></li>
                        <li><em>9.熟悉Hbase基本架构，能理解业务数据库mysql与之区别以及技术选型</em></li>
                        <li><em>10.熟练掌握在github上寻找开源项目，以及轻度二次开发（基于springboot）并为公司所用</em></li>
                        <li><em>11.熟练doris的部署，以及其进阶使用</em></li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>简历</h2>
                <p>一步一脚印，踏实前进。</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">工作经历</h3>
                    <div class="resume-item pb-0">
                        <h4>上海秦汉胡同教育培训有限公司</h4>
                        <h5>2022.03 - 当前</h5>
                        <p><em>大数据开发工程师</em></p>
                        <ul>
                            <li>基于阿里 dataworks平台建模以及maxcomputer进行离线计算；</li>
                            <li>为后端提供数据计算服务；</li>
                            <li>完成产品需要的数据结果；</li>
                            <li>基于开源报表项目 ureport二次开发，集成 dataX进去；</li>
                            <li>完成完整的数据采集、计算、导出链路，为数据平台提供接口；</li>
                            <li>基于 springboot和 mybatis 写数据接口；</li>
                            <li>制作年度数据总结 ppt 供给市场部使用；</li>
                            <li>基于 flink 来更新维度并写入到 es中；</li>
                            <li>使用pytorch对公司数据进行建模；</li>
                            <li> 参与项目的需求分析制定，WBS估时，项目自测，联调；</li>
                        </ul>
                    </div>
                    <div class="resume-item pb-0">
                        <h4>湖南兴盛优选电子商务有限公司</h4>
                        <h5>2021.08 - 2022.01</h5>
                        <p><em>数据开发实习生</em></p>
                        <ul>
                            <li>使用 hive+hadoop 建立大数据层；</li>
                            <li>完成产品组以及市场部的导出需求；</li>
                            <li>维护 hive 中各个层的表；</li>
                            <li>使用 python 给部门负责人发送定时导出邮件并部署在服务器上；</li>
                            <li>参与项目的需求分析制定，WBS 估时，项目自测，联调；</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">教育经历</h3>
                    <div class="resume-item">
                        <h4>湖南涉外经济学院 & 软件工程</h4>
                        <h5>2017 - 2021</h5>
                        <p><em>软件工程专业</em></p>
                        <p>程序员职称</p>
                        <p>软件设计师职称</p>
                        <p>英语四级</p>
                        <p>大数据分析师</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">项目经验</h3>
                    <div class="resume-item">
                        <h4>数据平台开发以迭代</h4>
                        <h5><a href="#portfolio"
                               style="color:orangered;text-decoration: underline;">作品展示(qa环境,均为假数据)</a></h5>
                        <div id="profess1"></div>
                    </div>
                    <div class="resume-item">
                        <h4>报表下载中心及迭代</h4>
                        <h5><a href="#portfolio"
                               style="color:orangered;text-decoration: underline;">作品展示(qa环境,均为假数据)</a></h5>
                        <div id="profess2">

                        </div>
                    </div>
                    <div class="resume-item">
                        <h4>预测模型及迭代</h4>
                        <h5><a href="#portfolio"
                               style="color:orangered;text-decoration: underline;">作品展示(qa环境,均为假数据)</a></h5>
                        <div id="profess3">

                        </div>
                    </div>
                    <div class="resume-item">
                        <h4>配合后端任务</h4>
                        <div id="profess4">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>作品集</h2>
                <p>瑰丽非凡，神采奕奕。</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">所有</li>
                        <li data-filter=".filter-app">数据平台</li>
                        <li data-filter=".filter-card">报表中心</li>
                        <li data-filter=".filter-web">预测模型</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="../img/p11.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>数据平台</h4>
                            <p>看板配置</p>
                            <div class="portfolio-links">
                                <a href="../img/p11.png" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="看板配置"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="../img/p31.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>预测模型</h4>
                            <p>线性回归</p>
                            <div class="portfolio-links">
                                <a href="../img/p31.png" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="线性回归"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="../img/p12.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>数据平台</h4>
                            <p>看板数据项配置</p>
                            <div class="portfolio-links">
                                <a href="../img/p12.png" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="看板数据项配置"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="../img/p21.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>报表中心</h4>
                            <p>报表配置</p>
                            <div class="portfolio-links">
                                <a href="../img/p21.png" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="报表配置"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="../img/p32.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>预测模型</h4>
                            <p>线性回归拟合</p>
                            <div class="portfolio-links">
                                <a href="../img/p32.png" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="线性回归拟合"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="../img/p13.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>数据平台</h4>
                            <p>看板展示</p>
                            <div class="portfolio-links">
                                <a href="../img/p13.png" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="看板展示"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="../img/p22.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>报表中心</h4>
                            <p>报表下载</p>
                            <div class="portfolio-links">
                                <a href="../img/p22.png" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="报表下载"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="../img/p23.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>报表中心</h4>
                            <p>ureport</p>
                            <div class="portfolio-links">
                                <a href="../img/p23.png" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="ureport"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="../img/p33.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>预测模型</h4>
                            <p>逻辑回归分类</p>
                            <div class="portfolio-links">
                                <a href="../img/p33.png" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="逻辑回归分类"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="../img/p34.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>预测模型</h4>
                            <p>echarts展示</p>
                            <div class="portfolio-links">
                                <a href="../img/p34.png" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="echarts展示"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="../img/p14.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>数据平台</h4>
                            <p>排行看板</p>
                            <div class="portfolio-links">
                                <a href="../img/p14.png" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="排行看板"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>劳逸结合</h2>
                <p>生活美满，工作顺遂。</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="../img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>鲁迅</h3>
                            <h4>中国文学家</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                我喜欢祥林嫂
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="../img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Elon Reeve Musk</h3>
                            <h4>CEO of SpaceX & TESLA & SolarCity & Twitter</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid
                                cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet
                                legam anim culpa.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="../img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam
                                duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="../img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat
                                minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore
                                labore illum veniam.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="../img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster
                                veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
                                culpa fore nisi cillum quid.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>联系我</h2>
            </div>

            <div class="row mt-1">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>地点:</h4>
                            <p>择良木而栖，随公司而动！</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>邮箱:</h4>
                            <p>holdenxiao@163.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>手机:</h4>
                            <p>+176 8031 8313</p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="别名"
                                       required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="邮箱" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="主题内容"
                                   required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="消息"
                                      required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">加载中...</div>
                            <div class="error-message"></div>
                            <div class="sent-message">您的讯息已送达，谢谢！</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">发送</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>肖华</h3>
        <p>养活自己的同时，争取富余一只手去帮助别人!</p>
        <div class="social-links">
            <a href="#" class="github"><i class="bx bxl-github"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>个人所有</span></strong>.
        </div>
        <div class="credits">
            <a href="https://beian.miit.gov.cn">湘ICP备2022016672号</a>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../vendor/aos/aos.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../vendor/glightbox/js/glightbox.min.js"></script>
<script src="../vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../vendor/swiper/swiper-bundle.min.js"></script>
<script src="../vendor/typed.js/typed.min.js"></script>
<script src="../vendor/waypoints/noframework.waypoints.js"></script>
<script src="../vendor/php-email-form/validate.js"></script>
<script src="../js/showdown.js"></script>
<!-- Template Main JS File -->
<script src="../js/main.js"></script>
<script>
    const markdownText1 = '**背景**  \n公司的高管、产品部、老师、运营部、市场部等各个部门需要一个数据平台展示来统计运营、老师消课、CC销课、学员上课、部门运营等与公司业务相关的统计值，所以需要一个动态可配置的数据平台供公司使用，由于权限的设置，产品人员可以配置数据平台的视图，以及视图展示的字段，而没有权限的其他部门就可以即时看见其变化\n' +
        '***\n' +
        '**岗位职责**  \n' +
        '1.参与前期需求分析例会，拆解WBS分解任务，对自己的所参与部分进行估时；  \n' +
        '2.与后端进行业务表分析，分析用例图，流程图；  \n' +
        '3.划分维度，如何尽量使一个输出表适应至多5个模块的配置；  \n' +
        '4.使用dataworks中的maxcompute进行离线开发，使用dataV进行业务数据的导入（每日全量），在dm层中进行计算后再吐回到业务库中（与面试官口述）；  \n' +
        '5.使用java基于mysql表配置动态配置sql对结果表进行不同条件值的查询，再回显给前端；  \n' +
        '6.前后端联调、过测试用例，qa测试过后，再yz环境配置同一份继续验证数据，yz测试过后，申请工单进行上线；  ';

    const markdownText2 = '**背景**  \n' +
        '公司的数据不是只有开发人员需要使用，而是有各个部分的员工也需要使用，他们需要对数据进行分析，比如运营要分析线索的来源、老师要分析她所在部门的消课情况、财务需要分析合同的签订情况，大大小小很多表需要可配置字段来让各部门员工进行下载\n' +
        '***\n' +
        '**岗位职责**  \n' +
        '1.使用mysql对其可配置下载表进行分析；  \n' +
        '2.使用springboot和easyexcel对其小数据量报表（10万）进行下载；  \n' +
        '3.响应产品的各种需求，比如自动合并单元格，多表合一显示下载；  \n' +
        '4.使用ureport集成dataX来对大数据量报表（30万）进行下载（二次开发）；  \n' +
        '5.使用阿里云OSS存放大数据量文件来做缓存；';

    const markdownText3 = '**背景**  \n' +
        '公司有了大的数据量和稳定的数据平台后，总要试着往别的方向进行探索一下，也能给业务人员一些数据层面的前置参考，我使用pytorch对公司数据进行分析，使用了线性回归、逻辑分类、softmax多分类、决策树、朴素贝叶斯、线性神经网络。\n' +
        '***\n' +
        '**岗位职责**  \n' +
        '1.方向选择，数据整理，数据清洗，提取数据特征，选择合适的模型；  \n' +
        '2.选择几个方向以及模型后用pytorch进行计算，保存训练模型；  \n' +
        '3.将模型输出值用echarts.js部署在公司服务器上；  ';

    const markdownText4 = '**背景**  \n' +
        '除了数据组的特定任务外，往往数据组还需要参与其他项目，由于某些表或者某些计算逻辑过于复杂，java组常常需要数据组来配合他们\n' +
        '***\n' +
        '**岗位职责**\n' +
        '1.产品会提前预警此次项目会涉及大数据量运算，所以也需要参与需求例会；  \n' +
        '2.拆解WBS分配任务；  \n' +
        '3.使用maxcompute对按照产品的逻辑进行计算，对数据进行初处理，这里面常常会出现一些比较麻烦的sql（可笔述）；  \n' +
        '4.联调-测试-验证-上线；'
    const converter = new showdown.Converter();
    const htmlText1 = converter.makeHtml(markdownText1);
    const htmlText2 = converter.makeHtml(markdownText2);
    const htmlText3 = converter.makeHtml(markdownText3);
    const htmlText4 = converter.makeHtml(markdownText4);
    document.getElementById('profess1').innerHTML = htmlText1;
    document.getElementById('profess2').innerHTML = htmlText2;
    document.getElementById('profess3').innerHTML = htmlText3;
    document.getElementById('profess4').innerHTML = htmlText4;
</script>
</body>

</html>